extends layout

block content
    h1= title

    // Wrapper
    #wrapper
        <button id="leagueTeamsBtn">League Teams</button>
        <button id="freeAgentsBtn">Free Agents</button>
        // Data Table
        <table id="maddenTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        // /Data Table

    // /Wrapper