extends layout

block content
    h1= title
    p League Data

    // Wrapper
    #wrapper
        <button class="statButton">League Teams</button>
        <button class="statButton">Free Agents</button>
        // Data Table
        <table id="dataTable" class="display" width="100%">
        // /Data Table

    // /Wrapper